.titleMini {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: .7rem;
  }
  
.header {
    text-align: left;
    padding: 3rem 2rem;
    border-radius: .7rem .7rem 0 0;
    background-color: #32CD32 ;
}

.header h1 {
    margin-bottom: 0;
  }